.add_place {

}

.add_place-img {

}



.modal__type_edit-profile {

}

.modal__type_add-place {

}

.modal__add-close {

}

.modal__edit-close {

}

.modal__window_remove-styles {
    position: fixed;
    height: auto;
    width: auto;
    background-color: transparent;
    /* background: transparent; */
    border-radius: none;
}