.modal__close-btn {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40.7px;
    height: 40.7px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../../../images/close-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@media screen and (min-width: 576px) and (max-width: 899px) {
    .modal__close-btn {
        position: absolute;
        /* display: inline-block; */
        top: -35px;
        right: -35px;
        margin: auto;
    }
}

@media screen and (min-width: 50px) and (max-width: 575px) {
    .modal__close-btn {
        position: absolute;
        /* display: inline-block; */
        top: -30px;
        right: -30px;
        margin: auto;
        width: 30px;
        height: 30px;
    }
}